*{
    box-sizing: border-box;
}
:root{
    --color-primary:#08A6E4;
    --color-primary-shadow:rgba(7, 172, 230, .16);
    --color-redish:#FB3B64;
    --color-green:#55DFB4;
    --color-grey: #A5A5A5;
    --color-light-grey:#F7F7F7;
}
.header-logo{
    width:100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
}
.logo{
    color: var(--color-primary);
    font: normal normal 300 32px Raleway;
    margin: 16px 0 17px 136px;
}
ul{
    display: flex;
    margin: 27px 136px 28px 0;
    list-style: none;
}
.header-menu a{
    text-decoration: none;
    color: var(--color-grey);
    font: normal normal bold 11px Open Sans;
    padding-bottom :25px;
    margin: 0 47px;
}
.header-menu a:hover{
    color: black;
    border-bottom: 4px solid var(--color-primary);
}
.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-logo{
    font: normal normal normal 49px Raleway;
    margin-top: 140px;
}
.main-text{
    margin-top: 20px;
    font: normal normal normal 16px Open Sans;
}.btn{
    border-radius: 40px;
    background: var(--color-primary);
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    margin-top: 38px;
     padding: 22px 157px;
 }
.main-bottom{
    color: white;
    text-decoration: none;
}
.header-img{
  width: 100%;
  margin: 0;
}
/*section - statistics*/
.section-text{
    text-align: center;
    font: normal normal normal 36px Raleway;
    line-height: 42px;
    margin-top: 100px;
    margin-bottom: 101px;
}
.section-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.block{
    flex-direction: column;
    width: 176px;
    margin: 0 92px;
}
.empty-person{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: var(--color-redish);
    margin-bottom: 15px;
    position: relative;
}
.empty-eye{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: var(--color-primary);
    margin-bottom: 15px;
    position: relative;
}
.empty-catalog{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: var(--color-green);
    margin-bottom: 15px;
        position: relative;
}
.section-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-img-person{
    position:absolute;
}
.section-img-eye{
    position:absolute;
}
.section-img-catalog{
    position: absolute;

}
.block-value{
    text-align: center;
    color: black;
    font: normal normal 800 20px Raleway;
    letter-spacing: 6px;
}
.block-text{
    font: normal normal normal 17px Raleway;
    margin-top: 19px;
    text-align: center;
}
/* section - article */
article{
    padding: 100px 0;
    background-color: var(--color-light-grey);
}
.article-container {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article-box{
    background-color: white;
    border: 1px solid #E8E9ED;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 37px;
    border-radius: 5px;
    width: 1124px;

}
.article trumpet{
    background-color: white;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    border-radius: 5px;
    flex-direction: row-reverse;
}
.article-block{
    display: flex;
    width: 1124px;
}
.article-article {
    max-width: 415px;
    margin: 90px 36px;
}
.article-article::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-primary);
    display: block;
    margin-top: 50px;
}
.macbook{
    flex-direction: row-reverse;
}
.macbook .article-article::after{
    content: "";
    background-color: var(--color-redish)
}
.trumpet .article-article::after{
    content: "";
    background-color: var(--color-green)
}
.article-text {
    margin-top: 30px;
    line-height: 1.375rem;
    font: normal normal normal 16px Open Sans;
}
.article-header {
    font: normal normal normal 36px Raleway;
}
.article-img {
    position: relative;
}
.article-img img {
    position: relative;
    z-index: 2;
}
.macbook {
    background: white;
}
.macbook .article-img {
     margin-right: 117px;
     margin-bottom: 38px;
 }
.macbook .article-img::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}
.macbook .article-img img {
    width: 386px;
    height: auto;
}
.iphone {
    padding:0 0 0 70px;
}
.iphone .article-img::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.iphone .article-img img {
    width: 426px;
    height: auto;
}
.article-img-iPhone{
    margin-top:20px;
}
.block-last {
    background: var(--color-light-grey);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    max-width: 1124px;
}
.trumpet {
    display: flex;
}
.article-block-one {
    width: 623px;
    background: white;
}
.article-block-second {
    flex-grow: 1;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-green);
    border: none;
    margin-left: 60px;
}
.article-block-second img {
    width: 295px;
    height: auto;
    margin-right: 60px;
}
/*section - price */
.pricing-container{
    display: flex;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pricing-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.pricing-title{
    font: normal normal normal 36px Raleway;
    text-align: center;
}
.pricing-details{
    margin-top: 34px;
    margin-bottom: 30px;
    text-align: center;
}
.pricing-type{
    font: normal normal bold 21px Raleway;
}
.pricing-price{
    margin-top: 25px;
    font: normal normal 300 46px Open Sans;
    color: var(--color-primary);
}
.pricing-limited{
    text-align: center;
    margin-top: 20px;
    font: normal normal bold 12px Raleway;
}
.pricing-limited-premium{
    text-align: center;
    font: normal normal bold 12px Raleway;
    margin-bottom: -18px;
}
.pricing-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;

}
.pricing-item{
    font: normal normal normal 14px Open Sans;
    margin-bottom: 20px;
    margin-left: 60px;

}
.pricing-item::before{
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #55DFB4;
    background-image: url("../images/Ckechmark-1.svg");
    display: inline-block;
    margin-right: 10px;
}
.pricing-item-not::before {
    background-image: url("../images/Close.svg");
}
.btn-prices-basic {
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 16px 57px;
    font: normal normal bold 13px Open Sans;
    position: relative;
    bottom: -25px;
    background: var(--color-redish)
}
.btn-prices-premium{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 16px 57px;
    font: normal normal bold 13px Open Sans;
    position: relative;
    bottom: -25px;
    background: var(--color-green)
}
.btn-important{
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 23px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 16px 57px;
    font: normal normal bold 13px Open Sans;
    position: relative;
    bottom: -25px;
    background: var(--color-primary)
}
.pricing-box-basic{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-redish);
    width: 370px;
    border-radius: 18px;
    margin: 20px 59px;
}
.pricing-box-professional{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
    font: normal normal bold 21px Raleway;
    border-radius: 18px;
}
.pricing-box-premium{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color-green);
    width: 370px;
    border-radius: 18px;
    margin: 20px 59px;
}
/* section - contact*/
.contact{
    display: flex;
    justify-content: center;
    padding: 80px 100px 100px 100px;
    margin: 0 auto;
}
.contact-info{
    width: 50%;
}
.container-header{
    margin-left:100px;
}
.contact-text-1{
    font: normal normal normal 49px Raleway;
    line-height: 3.6875rem
}
.contact-text-2 {
    text-align: left;
    font: normal normal normal 16px Open Sans;
    margin: 22px 0 42px;
    line-height: 22px;
}
.contact-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-grey);
}
.contact-email{
    display: flex;
    flex-direction: row-reverse;
}
.contact-phone{
    display: flex;
    flex-direction: row-reverse;
}
.contact-text{
    color: var(--color-grey);
    font-weight: 500;
    text-decoration: none;
}
.contact-text:first-of-type{
    margin-right: 20px;
}
.contact-img{
    margin-right: 10px;
    margin-top: -5px;
}
.container-form{
    display: flex;
    flex-direction: column;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form:first-of-type{
    margin-bottom: 42px;
}
.contact-form-label{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}
.contact-form-input{
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}
.contact-checkbox-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.contact-checkbox-form  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}
.contact-checkbox-form input:checked ~ .checkbox {
    background-image: url(../images/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.contact-checkbox{
    margin-top: 30px;
}
.contact-checkbox-form{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}
.contact-form-text{
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}
.btn-contact{
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    color: white;
    background:var(--color-primary);
    border-radius: 35px;
    box-shadow: 5px 10px 14px var(--color-light-grey);
}
/* footer styling*/
footer{
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px #00000029;
}
.footer-logo{
    font: normal normal 300 26px Raleway;
    color: var(--color-primary);
    margin: 21px 0 0 137px;
}
.footer-text{
    font: normal normal normal 11px Open Sans;
    color: var(--color-grey);
    margin: 8px 0 0 137px;
}
.footer-font{
    margin: 35px 116px 30px 0px;
}
.footer-img-facebook{
    margin: 0 20px;
}



